 .topnav {
  overflow: hidden;
  border-bottom: 2px solid #df2020
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #df2020;
  color:white;
}
.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.search__widget input {
  border: none;
}

.search__widget input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }
  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}

.reviews-top {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.user-details {
  align-items: center;
  display: flex;
}

.avatar {
  border-radius: 90px;
  width: 60px;
  height: 60px;
  margin: 2px;
}
h6 {
  font-size: larger;
  font-weight: 700;
  margin-right: 10px;
}
.reviews-form {
  padding: 5px;
  width: 50vw;
  border-radius: 20px;
}

.form-container {
  padding: 20px;
  background: #eedfdf;
  width: 60%;
  border-radius: 20px;
  margin: auto;
}
.common__section {
  background: linear-gradient(#212245b2, #212245b2),
    url(https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly9kMXJhbHNvZ25qbmczNy5jbG91ZGZyb250Lm5ldC83Y2ZlOGYyZi04MzI2LTRkY2YtODZjYi1lYjgyNTNlMGE3ZTUuanBlZw==);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
.top-pnav{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
}
.btn-box{
  display: flex;
  border-bottom: 9 px solid #ccc;
}

.btn-box button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;

}
.content{
  position: relative;
  transform: translateX(100%);
  overflow: hidden ;
}
#SECTION2{
  transform: translate(0px);
}
[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

 
.tabs {

  display: flex;
  margin: 0;
}

.tabs span {

  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.tabs span:hover {

  cursor: pointer;
  color: black;
}
