 

.form-box {
    width: 550px;

    padding: "100px";
    padding-bottom: "20px";
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-left: 60px;
   border: 2px solid #df2020;;
}
.form-box input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    outline: none;
    background-color: none;
}

.form-box button {
    width: 100%;
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: #df2020;
}
.form-box button:hover {
    background: #df2020;;
}
.form-box a {
    color: #df2020;;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}
.form-box a:hover {
    text-decoration: underline;
}
.form-box hr {
    border: 1px solid #dadde1;
    margin-bottom: 15px;
}
.form-box .create-btn a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}
.form-box .create-btn a:hover {
    background: #b72a2c;
}
