


.navbar-brand h5{
    font-weight: 600;
    font-size: 1rem;
    margin-top: -5px;
    margin-bottom:0;
    text-align: center;
}

.headershrink {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99999;
    box-shadow: 5px 5px 15px -5px #fde4e4;
  }
